* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: darkturquoise;
}

.container {
    width: 400px;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

h1 {
    text-align: center;
    margin: 10px;
    color: white;
    text-shadow: 2px 2px black;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(11, 87, 87, 0.5);
    position: relative;
    text-align: center;
}

.card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 5px solid tomato;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(11, 87, 87, 0.5);
}

.card p {
    line-height: 2;
}

.card img:hover {
    transform: scale(1.1);
}

#generate {
    padding: 10px;
    background-color: #1c1c1c;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

#generate:hover {
    background-color: darkturquoise;
    transform: scale(1.1);
}
